html {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-display: swap; /*auto, block, swap, fallback, optional */
    src: local("Lato"),
    url("../fonts/lato/Lato-Regular.ttf") format("truetype") /*eot, woff,ttf/otf, svg*/
}
.header__inner {
    display: flex;
    width: 1370px;
    height: 85px;
    margin: 0 auto;
    align-items: center;
    position: relative;
}
.image {
    display: flex;
    height: 100%;
    align-items: center;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 557px;
    height: 24px;
}
.nav__space-1 {
    display: flex;
    width: 173px;
    height: 24px;
}
.nav__space-2 {
    display: flex;
    width: 283px;
    height: 24px;
}
.nav__button {
    display: flex;
    width: 277px;
    height: 51px;
    align-items: center;
    justify-content: space-between;
}
.button {
    display: flex;
    background-color: #01996D;
    width: 183px;
    height: 51px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-sizing: border-box;
}
li {
    list-style-type: none; /* Убираем маркеры */
    display: inline; /* Отображать как строчный элемент */
}
ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 557px;
    justify-content: space-between;
}
A.btn:link {
    text-decoration: none;
    color: white;
    object-fit: contain;
    cursor: pointer;
}
A.btn:visited {
    text-decoration: none;
    color: white;
    object-fit: contain;
    cursor: pointer;        
}
A:link {
    text-decoration: none;
    object-fit: contain;
    cursor: pointer;
    color: rgb(0, 0, 0);    
}
A:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
A:active {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
A:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
hr {
    margin: 0 auto;
}      