@font-face {
    font-family: PT_sans_narrow; /* Имя шрифта */
    src: url(../fonts/PT_Sans_Narrow/PTSansNarrow-Regular.ttf); /* Путь к файлу со шрифтом */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: OpenSans; /* Имя шрифта */
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf); /* Путь к файлу со шрифтом */
    font-weight: normal;
    font-style: normal;
}
.header__inner {
    display: flex;
    width: 800px;
    height: 434px;
    margin: 90px 320px 500px 320px;
    background-color: #FCFCFC;
    flex-wrap: wrap;
}
.region {
    display: flex;
}
.region__text {
    display: flex;
    width: 158px;
    height: 116px;
    flex-wrap: wrap;
}
.region1 {
    display: flex;
    width: 400px;
    height: 217px;
    
}
.region2 {
    display: flex;
    width: 400px;
    height: 217px;
    justify-content: flex-end;
}
.region3 {
    display: flex;
    width: 400px;
    height: 217px;
    flex-wrap: wrap-reverse;
}
.region4 {
    display: flex;
    width: 400px;
    height: 217px;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
}
.rectangle1 {
    display: flex;
    width: 340px;
    height: 162px;
    margin: 40px 0px 0px 45px;
    border: 1px solid#DEDEDE;
    align-items: center;
    justify-content: space-evenly;
}
.rectangle2 {
    display: flex;
    width: 340px;
    height: 162px;
    border: 1px solid#DEDEDE;
    margin: 40px 45px 0px 0px;
    align-items: center;
    justify-content: space-evenly;
}
.rectangle3 {
    display: flex;
    width: 340px;
    height: 162px;
    border: 1px solid#DEDEDE;
    margin: 0px 0px 40px 45px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    align-items: center;
    justify-content: space-evenly;
}
.rectangle4 {
    display: flex;
    width: 340px;
    height: 162px;
    border: 1px solid#DEDEDE;
    margin: 0px 45px 40px 0px;
    align-items: center;
    justify-content: space-evenly;
}
.p1 {
    font-family: PT_sans_narrow;
    font-size: 22px;
    line-height: 22px;
    margin: 0;
}
.p2 {
    font-family: OpenSans;
    font-size: 14px;
    line-height: 19.07px;
    margin: 0;
}